/* Link format inside sidebar */
.layout-sidebar a {
    color: var(--bs-link-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.layout-sidebar a:hover {
    text-decoration: underline;
}

.layout-sidebar .active-link {
    text-decoration:underline;
}

/* Link format inside footer */
.layout-footer .navbar-text a {
    color: var(--bs-link-color);
}

/* Text format */
.text-justify {
    text-align: justify;
}

/* Code format */
code {
  background: #f9f9f9;
  color: black;
  border: 1px solid #ddd;
  padding: 0.1em;
  box-shadow: 2px 2px 2px #eee;
}

