
{{ partial "header.html" . }}


<style type="text/css" media="screen">
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
</style>

<style type="text/css" media="screen">
  @media (min-width:576px) {
      .card-columns {
        column-count: 1;
      }
  }
    @media (min-width:768px) {
      .card-columns {
        column-count: 1;
      }
  }
  @media (min-width:992px) {
      .card-columns {
        column-count: 2;
      }
  }
  @media (min-width:1200px) {
      .card-columns {
        column-count: 2;
      }
  }
</style>

<div class="jumbotron">
  <div class="container">
    <h2 class="text-center"> {{ .Title }} </h2>
    <div class="col-lg-8 offset-lg-2 col-md-12 text-justify">
      {{ .Content }}
    </div>
  </div>
</div>

{{ $.Scratch.Add "listtype" .Params.type}}
{{ $listtype := $.Scratch.Get "listtype"}}


{{ if (isset .Params "type")}}
  {{ if eq $listtype "software" }}
    {{ partial "list-software.html" . }}
  {{ else if eq $listtype "contents" }}
    {{ partial "list-contents.html" . }}
  {{ end }}
{{ else }}
  {{ partial "list-default.html" . }}
{{ end }}


{{ partial "footer.html" . }}
