<!-- software list: list for software using cards -->

<!-- <div class="album py&#45;5"> -->
  <div class="container">
    <div class="row mb-2">
    {{ range .Sections }}
      {{ $currentSection := .}}
      {{ range .Data.Pages }}
      <div class="col-lg-10 col-md-12 offset-lg-1">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <img class="card-img-right col-lg-3 col-md-4 border-right rounded" src={{ "/images/" | relURL }}{{ .Params.image }} alt="Card image cap" style="padding:0;">
          <div class="card-body d-flex flex-column align-items-start ml-0 border-primary">
            <strong class="d-inline-block mb-2 text-primary">
              {{ $currentSection.Title }}
            </strong>
            <h5 class="mb-0">
              <a class="text-dark" href="#">{{ .Params.shortitle }}</a>
            </h5>
            <div class="mb-1 text-muted">{{ .Title }}</div>
            <p class="card-text mb-auto">
            {{ .Content  }}
            </p>
          <a href="{{ .Params.link }}" target="_blank">
            <button type="button" class="btn btn-sm btn-outline-primary">Go to repository</button>
          </a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
<!-- </div> -->
