<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- sidebar button -->
    <form class="d-flex me-2">
      <button class="btn btn-outline-secondary" type="button" id="sidebar-toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
    </form>

    <!-- brand -->
    <a class="navbar-brand d-none d-sm-block" href=" {{ .Site.BaseURL }}"> {{ .Site.Title | markdownify }} </a>

    <!-- toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-expand " fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"></path>
      </svg>
    </button>

    <!-- navigation links -->
    <div class="collapse navbar-collapse" id="navbar-header">
      <ul class="navbar-nav ms-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown {{if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}"> {{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link {{if $currentPage.IsMenuCurrent "main" .}}active{{end}}" href="{{ .URL }}"> {{ .Name }}</a>
        </li>
        {{end}}
        {{end}}
      </ul>
    </div>

  </div>
</nav>
