<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top offset-3 col-9">
  <div class="container">
    <a class="h5 pl-3 mr-auto text-light" href=" {{ .Site.BaseURL }}">
      <i class='fa {{ .Site.Params.faicon }}'></i> {{ .Site.Title | markdownify }}
    </a>
    <!-- <a class="navbar&#45;brand" href=" {{ .Site.BaseURL }}"> -->
    <!--   <i class='fa {{ .Site.Params.faicon }}'></i> {{ .Site.Title | markdownify }} -->
    <!-- </a> -->
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar-header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar-header">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown {{if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}"> {{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{else}}
        <li class="nav-item {{if $currentPage.IsMenuCurrent "main" .}}active{{end}}">
          <a class="nav-link" href="{{ .URL }}"> {{ .Name }}</a>
        </li>
        {{end}}
        {{end}}
      </ul>
    </div>
  </div>
</nav>

