<!-- <ol class="fa&#45;ul"> -->
<ol type="I">
<!-- <ol> -->
    <br>
    {{ range .Site.Menus.sidebar }}
    {{ if .HasChildren }}
    <!-- <li><i class="fa&#45;li fa fa&#45;folder text&#45;secondary"></i> -->
    <li>
        <a class="font-weight"> {{ .Title }} </a>
        <ol class="fa-ul">
            {{range .Children}}
            {{ if .HasChildren }}
            <!-- <li><i class="fa&#45;li fa fa&#45;folder text&#45;secondary"></i> -->
            <li>
                <a class="font-weight text-secondary"> {{ .Title }} </a>
                <ol class="fa-ul">
                    {{range .Children}}
                    <li> {{ partial "item-link-file.html" . }} </li>
                    {{end}}
                </ol>
            </li>
            {{ else }}
            <li> {{ partial "item-link-file.html" . }} </li>
            {{ end }}
            {{ end }}
        </ol>
    </li>
    {{ else }}
    <li> {{ partial "item-link-file.html" . }} </li>
    {{ end }}
    {{ end }}
</ol>
