
{{ partial "header.html" . }}

  <!-- <div class="d&#45;flex" id="wrapper"> -->
  <!--   <!&#45;&#45; Sidebar &#45;&#45;> -->
  <!--   <div class="bg&#45;light border&#45;right" id="sidebar&#45;wrapper"> -->
  <!--     <div class="sidebar&#45;heading">Start Bootstrap </div> -->
  <!--     <div class="list&#45;group list&#45;group&#45;flush"> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Dashboard</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Shortcuts</a> -->
  <!--       <a href="#">Overview</a> -->
  <!--       <a href="#">Events</a> -->
  <!--       <a href="#">Profile</a> -->
  <!--       <a href="#">Status</a> -->
  <!--     </div> -->
  <!--   </div> -->


<div class="container-fluid plop">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-12 offset-md-0 text-justify">
      {{ .Content }}
    </div>
  </div>
</div>
</div>

{{ partial "footer.html" . }}
