{{ partial "header.html" . }}

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-lg-9 col-md-8 ml-auto pt-3 px-4" id="cont">
            <br>
            <br>
            <h1 class = "col-lg-8 offset-lg-2 col-md-12 text-center">
                {{ .Params.title | markdownify }}
            </h1>
            <br>
            <div class = "col-lg-8 offset-lg-2 col-md-12 text-center">
                {{ partial "list-authors.html" . }}
            </div>
            <br>
            <br>

            <div class="col-lg-10 offset-lg-1 col-md-12 offset-md-0 col-sm-10
                offset-sm-1 col-xs-12 text-justify homepage-text">
                {{ .Content }}
            </div>
        </main>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#menu-toggle").click(function(){
        // sidebar: show and hide
        $("#sideid").toggleClass("toggled");
        $("#sideid").toggleClass("d-block d-none");
        // extra small devices
        $("#navtop").toggleClass("offset-0 offset-8");
        // small devices
        $("#navtop").toggleClass("offset-sm-0 offset-sm-6");
        // medium devices
        $("#navtop").toggleClass("offset-md-0 offset-md-4");
        $("#navtop").toggleClass("col-md-12 col-md-8");
        $("#cont").toggleClass("col-md-12 col-md-8");
        // large devices
        $("#navtop").toggleClass("offset-lg-0 offset-lg-3");
        $("#navtop").toggleClass("col-lg-12 col-lg-9");
        $("#cont").toggleClass("col-lg-12 col-lg-9");
  });
});
</script>

{{ partial "footer.html" . }}
