<!doctype html>
<html lang="{{with .Site.LanguageCode}}{{ . }}{{else}}en-us{{end}}">

  <head>
    {{ partial "head.html" .}}
  </head>

  <body>
    <div class = "docs-layout" id = "my-lay">

      <header class = "layout-header">
        {{ partial "header.html" .}}
      </header>

      <aside class = "layout-sidebar bg-light">
        {{ partial "sidebar-files.html" . }}
      </aside>

      <main role = "main" class = "layout-main">
        {{ partial "main-index.html" . }}
      </main>

      <footer class="footer bg-light fixed-bottom text-muted layout-footer">
        {{ partial "footer.html" .}}
      </footer>

    </div>
    {{ partial "scripts.html" .}}
  </body>

</html>
