
{{ partial "header.html" . }}


<div class="container-fluid">
    <!-- <div class="row"> -->
    <!--    <div class="col&#45;10 bg&#45;dark"> -->
    <!--       hola hola hola hola hola hola -->
    <!--       hola hola hola hola hola hola -->
    <!--       hola hola hola -->
    <!--    </div>  -->
    <!--    <div class="col"> -->
    <!--       hola fd -->
    <!--    </div>  -->
    <!-- </div> -->

    <div class="row">

        <div class="col-3 bg-light sidebar">
            <nav class="navbar navbar-dark bg-light border-bottom">
                <a class="navbar-brand text-primary" href="#">Navbar</a>
            </nav>
            <div class="sidebar-sticky">
              <ol>
                  <li> Cleaning
                      {{ .TableOfContents }}
                  </li>
                  <li> Processing
                      {{ .TableOfContents }}
                  </li>
              </ol>
          </div>
        </div>

        <nav class="navbar col-9 offset-3 navbar-dark bg-dark sticky-top navbars">
            <a class="navbar-brand" href="#">bla</a>
        </nav>



        <main role="main" class="col-9 ml-auto pt-3 px-4">

            <div class="col-lg-12 text-justify">
                {{ .Content }}
            </div>
        </main>

    </div>

</div>

{{ partial "footer.html" . }}
